/* Google Font Import - Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* Colors (SideBar Use) */

    --body-color: #12161d;
    --sidebar-color: #12161d;
    --primary-color: #2571f3;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: white;

    /* Transitions */

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

html {
     font-size: 14px;
}

 @media (min-width: 768px) {
     html {
         font-size: 16px;
    }
}

 html {
     position: relative;
     min-height: 100%;
     font-family: 'Poppins', sans-serif;
}

 *:not(.fa-solid):not(.fa):not(.e-icons) {
     font-family: 'Poppins', sans-serif;
}

 body {
     margin-bottom: 60px;
     background-color: #12161d;
     color: #fff;
     overflow: hidden;
}

h5 {
    font-weight: 500;
}

/* Lost Classes */

.container {
    margin-top: 1rem;
}

.btn-success {
    background-color: transparent;
    border-color: #28dcc2;
}

.fa-1xl {
    font-size: 3rem;
}

.fa-2xl {
    font-size: 5rem;
}

 .e-bigger {
     font-size: x-large;
}

 .main-content {
     margin-left: 290px;
     overflow-y : auto;
     height: 100vh;
}

.mt-10 {
    margin-top: 4.5rem;
}

/* BreadCrumb */

 .e-breadcrumb a, .e-breadcrumb a:hover {
     text-decoration: none !important;
     color: inherit !important;
}

/* Button */

 .btn:focus, .btn:active {
     outline: none !important;
     box-shadow: none;
}

/* Hyperlinks */

 .no-a-decoration, .no-a-decoration:hover {
     text-decoration: none;
     color: inherit;
}

/* Grid */

 .e-grid {
     border: 0;
     border-radius: 5px;
}

 .e-grid .e-gridcontent, .e-grid .e-table {
     background-color: #1a222b;
}

 .e-grid .e-gridheader {
     border: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     padding: 10px;
     background-color: #222b33;
}

 .e-grid .e-gridheader .e-headercell {
     background-color: #222b33;
}

 .e-grid .e-gridpager {
     background-color: #1a222b;
}

 .e-grid .e-pagercontainer {
     border: none;
     background-color: #1a222b;
}

 .e-grid .e-content table {
     padding: 0px 10px;
}

 .e-pagercontainer .e-icons {
     background-color: #1a222b;
     border: none !important;
}

 .e-pager .e-numericitem {
     color: #adb5bd;
     background-color: #1a222b;
     padding: 15px !important;
}

 .e-pager .e-numericitem:not(.e-currentitem) {
     border: none !important;
}

 .e-pager .e-numericitem:hover {
     color: #fff;
}

 .e-pager .e-numericitem.e-currentitem {
     color: #fff;
     border: none !important;
     background-color: #31373d;
}

 .e-pager div.e-icons:not(.e-disable) {
     color: #fff;
     cursor: pointer;
     font-weight: bold;
}

 .e-grid .e-pager {
     padding: 10px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
}

/* Logo */

 .logo-wrapper {
     height: 70px;
     display: flex;
     flex-direction: row;
     align-items: center;
}

 .app-logo {
     padding: 10px 10px;
}

/* Navbar */

 nav.navbar {
     background-color: rgba(18, 22, 29);
}

 nav.navbar i {
     padding: 10px;
     border-radius: 50%;
     font-size: 1.2rem;
     cursor: pointer;
}

 nav.navbar i:hover, nav.navbar img:hover {
     cursor: pointer;
     background-color: #48545f14;
     transform: scale(1.05) translateZ(0px);
}

 nav.navbar {
     margin-left: 290px;
}

/* Profile Picture */

 img.profile-pic {
     width: 45px;
     height: 45px;
     border-radius: 50%;
}

 .profile-wrapper {
     display: flex;
     flex-direction: row;
     align-items: center;
     background-color: rgba(72, 84, 95, 0.12);
     padding: 10px 0;
     border-radius: 6px;
     cursor: pointer;
     margin-bottom: 1rem;
     margin-top: 0.4rem;
}

 .profile-wrapper .titles {
     line-height: 1;
}

/* Radio Button Group */

 .e-btn-group.custom-rbt-group {
     width: 100%;
}

 .e-btn-group.custom-rbt-group .e-btn {
     width: 50%;
}

 .custom-rbt-group label.e-btn {
     box-shadow: none !important;
     border: 1px solid #fff;
     background-color: rgb(34 43 51);
     color: #fff;
}

 .e-btn-group.custom-rbt-group input:checked + label.e-btn {
     background-color: #fff;
     color: #212b36;
     border: 1px solid #fff;
}

/* SideBar */

 #sidebar {
     background-color: #12161d;
     padding: 10px 20px;
     overflow:hidden;
}

 .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 320px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}

.sidebar.close {
    width: 88px;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}
.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 14px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 12px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -33px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: rgba(72, 84, 95, 0.12);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: 49rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: rgba(72, 84, 95, 0.12);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text {
    color: var(--text-color);
}

.menu-links {
    margin-left: -2rem
}

.menu {
    margin-bottom: 2rem;
}

/* Widget */

 .widget {
     border-radius: .6rem;
     background-color: #1a222b;
}

 .widget.summary > div:first-child {
     background-color: #222b33;
     padding: 1rem;
     border-top-left-radius: 1rem;
     border-bottom-left-radius: 1rem;
}

 .widget.summary > div:first-child i {
     font-weight: bold;
}

 .widget.income > div:first-child {
     color: #65da41;
}

 .widget.expense > div:first-child {
     color: #ff4e48;
}

 .widget.balance > div:first-child {
     color: #2aa1ff;
}

 .widget.chart {
     padding: 5px;
}

 /* Scroll Bar */

 /* Width */
::-webkit-scrollbar {
  width: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
   background: #2571f3;
   border-radius: 1rem;
}
 
/* Thumb */
::-webkit-scrollbar-thumb {
   background: #12161d;
}

/* Thumb on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #28dcc2;
}

/* Media Queries */

/* For large devices */
@media screen and (min-width: 1024px){
    .sidebar .menu-bar {
        height: 45rem;
    }
}

@media screen and (min-width: 1920px) {
    .sidebar .menu-bar {
        height: 52.5rem;
    }
}